<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css"/>
    <title>Cadastro</title>
    <script src="vue.global.js"></script>

</head>
<body>
    <div id="app">
        <form>
            <label for="newUsername">Nome de Usuario:</label>
            <input type="text" v-model="newUsername" required>

            <label for="newPassword">Senha:</label>
            <input type="password" v-model="newPassword" required>

            <label for="confirmPassword">Confirme sua senha:</label>
            <input type="password" v-model="confirmPassword" required>

            <button type="submit" @click.prevent="adicionarUsuario">Cadastrar</button>
        </form>
    
        <p>{{error}}</p>
        <p>{{correct}}</p>
</div><!--fim div app -->
<script src="process.js"></script>

</body>
</html>