.error{
    color:rgb(221, 36, 36);
    margin:30px;
    font-weight: 6rem;
}

.correct{
    color:rgb(53, 220, 53);
    margin:30px;
    font-weight: 6rem;
}

body{
    background-color: blueviolet;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#app{
    max-width: 500px;
    margin:0 auto;
    background-color: #e0e0db;
    border-radius: 20px;
    box-shadow: 0 0 10px gray;
    text-align: center;
}

h1{
    margin-top: 0;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    margin-bottom: 3px;
}

input[type="text"], input[type="password"]{
    padding:10px;
    border-radius: 10px;
    border: none;
    margin-bottom: 10px;
}

button{
    padding: 10px;
    background-color: yellowgreen;
    border-radius: 5px;
    cursor:pointer;

}
button:hover{
    background-color: azure;
}