<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="style.css"/>
    <title>Teste V-IF</title>
</head>
<body>
    <div id="app">
        <div>
            <span v-if="testeSpan" >Funcionou nosso exemplo!</span>
            <button @click="handleTest">Teste</button>
        </div><!--fechando div-->
        <br><br><br>
            <div>
                <button @click="toogleLampada">{{isLampadaLigada ? 'desligar':'ligar'}}</button>
                <br><br><br>
                <img v-if="isLampadaLigada" src="./img/On.png" alt="Lampada Ligada">
                <img v-else="isLampadaDesligada" src="./img/Off.png" alt="Lampada Desligada">
            </div><!--fechando div-->
    </div><!--fechando div app-->
    <script src="process.js"></script>
</body>
</html>