<!--exemplo de framework vue-->
    <!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Novo exemplo HTML/JS </title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" ></script>
    </head>

    <body>
        <div id="app">
        <h1>{{NUMERO}}</h1>  

        <br /><br /><br />

        <button @click ="addValor"> Adiciona +1 </button>

        </div>
    <script src = "process_index.js"></script>
    </body>
</html>