body{
    color:#f7f5f3;
    background-color: rgb(158, 158, 153);
    font-family: Arial, Helvetica, sans-serif;
}

.logo{
    font-size: larger;
    color: black;
    align-items: center;
    display: flex;
    justify-content: space-around;
    width:100%;
    height: 10rem;
    font-style: initial;
    font-family:Arial, Helvetica, sans-serif;
    background-color: #C7913A
}

h3{
    font-weight: 70%;
    color:black;
    align-items: center;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

.ul{
    display: grid;
}

a{
    color:#f7f5f3;
    text-decoration:solid;
    display: flex;
    align-items: center;
    padding:40px;
    font-weight:20%;
    font-family: 'Courier New', Courier, monospace;
    
}

.image{
    float:inline-end;
    width: 15%;
    border-radius: 50%;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
}

.sobre{
    text-align: justify;
    margin:auto;
    padding:30px;
    float:left;
    color: black;
}

h1{
    text-align:justify;
    font-size: large;
    font-weight: 40%;
    display: inline-block;
}

h2{
    text-align:justify;
    margin:auto;
    justify-content: left;
    font-size: medium;
    font-weight: 25%;
    color: blue;
}
