.Calculadora 
{
    position:fixed;
    top:50%;
    left:50%;

    background-color: rgb(105, 25, 143);
    transform:translate(-50%,-50%);
    display:flex;
    flex-direction:column ;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    background-image: linear-gradient(rgb(10, 48, 117));
    border:4px solid #3d163362;
    border-radius: 4px;
    padding: 20px;

}/*Fechando calculadora*/

.tela
{
    display:flex;
    align-items: center;
    justify-content:flex-end;
    font-size: 3rem;
    width:90%;
    height: 80px;
    margin-bottom: 20px;
    border: 3px solid #3d163362;
    border-radius: 10%;
    padding: 5%;
    background-color: #3d163362;
}/*Fechando tela*/

.botao
{
    display:flex;
    flex-direction: column;
    margin-bottom:15px;
}/*Fechamento botao*/

.linha
{
    display:flex;
    justify-content: center;
    flex-direction:row;
    margin-bottom:10px;
}/*Fechando linha*/

button
{
    width: 50px;
    height: 50px;
    margin: 5px;
    font-size: 2rem;
}/*Fechando button*/

.operadores
{
    background-color:#f58e07da;
    color:#000000;
    border:1px solid #f89412ef ;
}/*Fechando operadores*/

button
{
    font-size:2rem;
    width: 50px;
    height: 40px;
    margin-right:10px;
    border: 1px;
    border-radius:4px;
    background-color:rgb(182, 98, 199);
    color: rgb(0, 0, 0);
    cursor:default;
}